body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*----------------------HEADER------------------------*/

a:hover {
    color: #404bbf;
}

a:focus {
    color: #404bbf;
}


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    color: #4d5ae5;
    margin-left: 156px;
    margin-right: 76px;

}

.logo-part {
    color: #2e2f42;
}


.header-link {
    color:  #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 24px 0;
}

.links {
    display: flex;
}

.nav {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    gap: 40px;
}

.navigation {
    display: flex;
    align-items: center;
}

.header-address {
    font-style: normal;
    display: flex;
    align-items:center;
    gap: 40px;
    margin-left: 332px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.header-link-address-mail {
    color: #434455;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

.header-link-address-tel {
    color: #434455;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;

}

/*----------------------------------------------------------------*/
/*-----------------------SECTION-HERO-----------------------------*/

.section-hero {
    width: 100%;
    height: 600px;
    background: #2E2F42;
    padding:188px 0;
}
.section-hero-title {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 58px;
}

.section-hero-btn {
    font-family: "Roboto", sans-serif;
    background:  #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#ffffff;
    cursor:pointer;
    display: block;
    min-width:169px;
    height:56px;
    border: none;
    border-radius:4px;
    margin: 0 auto;
}

.section-hero-btn:hover {
    background-color: #404BBF;
}

.section-hero-btn:focus {
    background-color: #404BBF;
}

/*----------------------------------------------------------------*/
/*-----------------------SECTION-FEATURES------------------------------*/

.section-features {
    color: #2e2f42;
}
.section-features-title {
    visibility: hidden;
}

.features {
    width:1158px;
    display: flex;
    align-items:center;
    gap: 24px;
}
.section-features-container {
    margin: 96px 156px 120px;
}

.section-features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
}

.section-features-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 8px;
}

/*----------------------------------------------------------------*/
/*-----------------------SECTION-TEAM------------------------------*/

.section-team {
    background-color: #F4F4FD;
    width: 1440px;
    height: 732px;
    padding:120px 0; 
}

.section-team-title {
    font-size: 36px;
    line-height:1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom:72px;
    gap:24px;
}

.section-team-list {
    background-color: #FFFFFF;
    width: 1440px;
    display: flex;
    align-items: center;
    margin: 72px 156px 120px;
    gap: 24px;
}

.section-team-members {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-team-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-portfolio {

}
.section-portfolio-title {
    color:#2e2f42 ;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section-portfolio-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-portfolio-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif
}

.footer-description {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.footer-logo-part {
    color: #f4f4fd;
}